<!-- PAGE HEADER -->
<header class="page__header invert">
    <div class="logo-holder">
        <a href="index.html" class="logo-text d-none d-lg-block">
            <strong class="text-primary">#</strong>
            <strong>TICKET</strong>SYSTEM
        </a>
        <a href="index.html" class="logo-text d-lg-none">
            <strong class="text-primary">#</strong>
            <strong>TICKET</strong>SYSTEM
        </a>
        <div class="rw-btn rw-btn--nav" data-action="aside-hide">
            <span></span>
        </div>
    </div>    
    <div class="box-fluid"></div>
    <div class="box">
        <button class="btn btn-light btn-icon">
            <span class="li-alarm-ringing"></span>
        </button>
        <button class="btn btn-light btn-icon"
                data-action="fixedpanel-toggle">
            <span class="li-cog"></span>
        </button>
    </div>
</header>
<!-- //END PAGE HEADER -->