    @model TicketSystem.API.Domain.ViewModels.ProfileClientUserVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Profile Client User";
    string msg = (string)TempData["msg"];
}
<!-- //END SIDEPANEL --><!-- PAGE CONTENT CONTAINER -->
<div class="content" id="content">
    <!-- PAGE HEADING -->
    <div class="page-heading">
        <div class="page-heading__container">
            @*<p class="caption">Welcome Estring</p>*@
        </div>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Profile User Client</li>
            </ol>
        </nav>
    </div>
    <!-- //END PAGE HEADING -->
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-7">
                <div class="card">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(msg))
                        {
                            <p class="caption text-center margin-bottom-30" id="msg">
                                @msg
                            </p>
                        }
                    <form asp-action="ProfileClientUser" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="firstName">FirstName</label>
                            <input type="text" class="form-control" placeholder="Your firstname" asp-for="profileClientUser.firstName" required />
                        </div>
                        <div class="form-group">
                            <label for="lastName">LastName</label>
                            <input type="text" class="form-control" placeholder="Your lastname" asp-for="profileClientUser.lastName" required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" placeholder="Your personal email" asp-for="profileClientUser.email" required />
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone No</label>
                            <input type="text" class="form-control" placeholder="Your phone number" asp-for="profileClientUser.phoneNumber" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Your password" asp-for="profileClientUser.password" required />
                        </div>
                        <div class="form-group">
                            <label for="client">Client</label>
                            <select asp-for="profileClientUser.clientId" class="form-control" required>
                                <option value="">Select Client</option>
                                @foreach (var item in Model.clients.responseObject)
                                {
                                    <option value="@item.email">@item.name</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-secondary">
                            Profile Client
                        </button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2"></div>
        </div>
    </div>
</div>
<!-- //END PAGE CONTENT CONTAINER -->
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function(){
                $("#msg").fadeOut();
            }, 20000);
    });
    </script>
}
